.Ai_sidebar {
    height: 100%;
    min-height: 100vh;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f0f4f9;
    padding: 25px 15px;
    align-items:center ;
}

.Ai_sidebar img {
    width: 20px;
    margin: 10px 10px;
}

.Ai_sidebar .Ai_menu img {
    display: block;
    margin-left: 10px;
    align-items: center;
    cursor: pointer;
    max-width: 100%;
}

.Ai_sidebar .Ai_menu {
    margin-top: 60px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 8px 17px;
    /* background-color: #e6eaf1; */
    border-radius: 50px;
    font-size: 14px;
    color: black;
    cursor: pointer;
}

.Ai_sidebar .Ai_new-chat {
    margin-top: 60px;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    padding: 8px 17px;
    background-color: #e6eaf1;
    border-radius: 50px;
    font-size: 14px;
    color: grey;
    cursor: pointer;
}

.Ai_sidebar .Ai_new-chat img{
    width: 15px;
}

.Ai_sidebar .Ai_recent {
    display: flex;
    flex-direction: column;
    animation: fadeIn 1.5s;
    color: black;
}

.Ai_sidebar .Ai_recent-title {
    margin-top: 30px;
    margin-bottom: 20px;
}

.Ai_sidebar .Ai_recent-entry {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 15px;
    padding-right: 40px;
    border-radius: 20px;
    color: #282828;
    cursor: pointer;
}

.Ai_sidebar .Ai_recent-entry:hover {
    background-color: #e2e6e2;
}

.Ai_sidebar .Ai_bottom {
    display: flex;
    flex-direction: column;
}

.Ai_sidebar .Ai_bottom-item {
    padding-right: 10px;
    cursor: pointer;
}

@media (max-width: 600px) {
    .Ai_sidebar {
        display: none;
    }
}
.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

.dark-mode .Ai_sidebar,
.dark-mode .Ai_sidebar-container {
    background-color: #1e1e1e;
    color: white;
}
.dark-mode .Ai_sidebar .Ai_menu {
    color: white;
}
.dark-mode .Ai_bottom-item {
    background-color: #252525;
    color: #ffffff;
}

.toggle-switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}

.toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 10px;
}

input:checked + .slider {
    background: -webkit-linear-gradient(16deg, #4b90ff, #ff5546);
}

.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .slider:before {
    transform: translateX(20px);
}

